.advantage-quality {
  margin: 0;
  padding: 2px 10px;
  margin-bottom: 2px;
  width: max-content;
  max-width: 428px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.advantage-quality--bad {
  padding-top: 4px;
  padding-bottom: 4px;
}
